div.pq-grid
{
	overflow: hidden;
	position: relative;
}
div.pq-grid *
{
	font-family: sans-serif;
	font-size: 12px;
	line-height: normal;
	margin: 0;
	padding: 0;
}
div.pq-grid *:focus
{
	outline: 1px dotted gray;
}
div.pq-grid-top
{
	border-width: 0;
}
.pq-grid .pq-slider-icon
{
	cursor: pointer;
	position: absolute;
	right: 5px;
	top: 3px;
}
.pq-grid .pq-icon-list
{
	bottom: 1px;
	position: absolute;
	right: 25px;
}
.pq-grid .pq-icon-list .pq-icon-holder
{
	cursor: pointer;
	display: inline-block;
}
.pq-dialog-icon
{
	display: inline-block;
}
div.pq-grid-title
{
	border-bottom: 1px solid #c5c5c5;
	overflow: hidden;
	padding: 5px;
	zoom: 1;
}
div.pq-toolbar
{
	border-bottom: 1px solid #c5c5c5;
	overflow: hidden;
	padding: 3px 5px 4px;
	zoom: 1;
}
div.pq-toolbar
{
	text-align: left;
}
div.pq-toolbar *
{
	vertical-align: middle;
}
div.pq-toolbar select
{
	border-width: 1px;
	height: 18px;
	position: relative;
}
.pq-grid select
{
	border-color: #ccc;
}
div.pq-toolbar .pq-separator
{
	margin-left: 10px;
	margin-right: 10px;
}
.pq-grid .pq-search-txt
{
	border: 1px solid #ccc;
	margin: 1px auto 1px;
	overflow: visible;
	padding: 1px 4px;
}
.pq-grid-dialog *
{
	font-family: Tahoma;
	font-size: 11px;
}
.pq-grid-dialog form
{
	margin-top: 20px;
}
.pq-grid-dialog form input
{
	height: 18px;
	line-height: normal;
	overflow: visible;
	padding: 1px 5px;
}
.pq-grid-dialog form td.label
{
	font-weight: bold;
	padding-right: 5px;
}
.pq-dialog-buttonset
{
	float: left;
}
.pq-dialog-buttonset button
{
	margin: 5px;
	padding: .5em 0;
}
div.pq-grid div.pq-draggable
{
	cursor: move;
}
div.pq-grid-bottom
{
	border-width: 0;
	font-weight: normal;
	position: relative;
}
div.pq-grid-footer
{
	overflow: hidden;
	padding: 3px 5px 3px;
	position: relative;
}
div.pq-grid-inner
{
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	width: 100%;
}
div.pq-header-outer
{
	border-width: 0;
	overflow: hidden;
	position: relative;
	text-align: left;
}
.pq-grid span.pq-grid-header
{
	border-width: 0;
	cursor: default;
	display: inline-block;
	position: absolute;
	top: -2px;
}
.pq-grid span.pq-grid-header-left
{
	overflow: hidden;
}
.pq-grid div.pq-cont-inner
{
	cursor: default;
	left: 0;
	overflow: hidden;
	top: 0;
}
.pq-cont .pq-grid-norows
{
	padding: 3px;
	text-align: center;
}
td.pq-col-sort-asc .pq-col-sort-icon,td.pq-col-sort-desc .pq-col-sort-icon
{
	display: inline;
	padding-right: 16px;
}
.pq-grid-col-resize-handle
{
	background: url(about:blank);
	cursor: w-resize;
	display: block;
	height: 22px;
	position: absolute;
	top: 0;
	width: 10px;
	z-index: 2;
}
.pq-grid-drag-bar
{
	background-color: #2c3e50;
	position: absolute;
	top: 0;
	width: 1px;
	z-index: 100;
}
div.pq-grid .pq-align-right
{
	text-align: right;
}
div.pq-grid .pq-align-right *
{
	text-align: right;
}
div.pq-grid .pq-align-center
{
	text-align: center;
}
div.pq-grid .pq-align-center *
{
	text-align: center;
}
div.pq-cont-right
{
	border-width: 0;
	overflow: hidden;
	position: relative;
}
div.pq-cont
{
	border-top: 0;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.pq-grid .pq-cont .ui-state-hover
{
	font-weight: normal;
}
table.pq-grid-table
{
	border-spacing: 0;
	left: 0;
	margin-top: -1px;
	position: relative;
	table-layout: fixed;
	top: 0;
	width: 0;
}
table.pq-grid-header-table
{
	border-spacing: 0;
	table-layout: fixed;
	width: 0;
}
table.pq-grid-header-table div.pq-td-div
{
	padding: 5px;
	position: relative;
}
div.ui-resizable-handle
{
	z-index: 1;
}
.pq-grid td.pq-grid-col
{
	border-right: 1px solid #cfcfcf;
	border-top: 1px solid #cfcfcf;
	border-width: 0;
	overflow: hidden;
}
td.pq-grid-number-col
{
	border-right: 1px solid #cfcfcf;
}
.pq-grid .pq-col-drag-helper
{
	box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	padding: 1px 5px 4px 3px;
	webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
.pq-grid .pq-col-drag-helper .pq-drag-icon
{
	float: left;
	height: 16px;
	margin-bottom: -3px;
	margin-right: 5px;
	width: 16px;
}
.pq-grid td.pq-drop-hover,.pq-grid .pq-drop-hover
{
	background-image: url("");
}
tr.pq-row-hidden
{
	height: 1px;
	visibility: hidden;
}
.pq-grid td.pq-grid-cell
{
	border-width: 0;
	overflow: hidden;
	padding: 0;
	padding: 4px 5px;
	vertical-align: middle;
	word-wrap: break-word;
}
div.pq-grid td.pq-cell-dirty
{
	background-image: url("images/square_dirty.gif");
	background-position: left top;
	background-repeat: no-repeat;
}
td div.pq-td-div
{
	padding: 0;
}
table.pq-td-border-right>tbody>tr>td.pq-grid-cell
{
	border-right: 1px solid #2c3e50;
}
table.pq-td-border-bottom>tbody>tr>td.pq-grid-cell
{
	border-bottom: 1px solid #2c3e50;
}
table.pq-wrap>tbody>tr>td.pq-grid-cell,table.pq-wrap>tbody>tr>td.pq-grid-col
{
	white-space: normal;
	word-wrap: break-word;
}
table.pq-no-wrap>tbody>tr>td.pq-grid-cell,table.pq-no-wrap>tbody>tr>td.pq-grid-col
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
div.pq-editor-outer
{
	border: 2px solid #666;
	color: #333;
	display: table;
	left: 0;
	padding: 0;
	position: absolute;
	top: 0;
	z-index: 5;
}
div.pq-editor-inner
{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
div.pq-editor-inner>div[contenteditable='true']
{
	background: #fff;
	overflow: auto;
	padding: 2px;
}
div.pq-editor-inner>.pq-cell-editor
{
	padding: 2px 3px;
}
div.pq-tooltip
{
	padding: 3px 10px;
}
span.pq-tooltip-icon
{
	display: inline-block;
	margin-right: 4px;
	position: relative;
	top: 3px;
}
tr td.pq-grid-number-cell
{
	border-right: 1px solid #2c3e50;
	cursor: pointer;
	overflow: hidden;
}
.pq-grid td.pq-grid-number-cell
{
	border-left: 0;
	border-top: 0;
	padding: 4px 5px;
}
.pq-grid table.pq-grid-table td.pq-last-freeze-col
{
	border-right: 1px solid #333;
}
.pq-grid div.pq-grid-vert-freezeline
{
	border-left-width: 0;
	border-right: 1px solid #333;
	position: absolute;
	top: 0;
	width: 0;
	z-index: 2;
}
table.pq-grid-table>tbody>tr.pq-last-freeze-row>td.pq-grid-cell
{
	border-bottom: 1px solid #333;
}
.pq-grid tr.pq-detail-master>td
{
	border-bottom-width: 0;
}
.pq-grid td.pq-detail-child
{
	padding: 3px 30px;
}
div.pq-grid-disable
{
	background: #2c3e50;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;
}
div.pq-loading
{
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
div.pq-loading div.pq-loading-bg
{
	background: #ccc;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}
div.pq-loading-mask
{
	height: 25px;
	left: 50%;
	margin-left: -50px;
	margin-top: -13px;
	padding: 5px;
	position: absolute;
	top: 50%;
	width: 100px;
	z-index: 6;
}
.pq-grid div.pq-loading-mask div
{
	background-image: url("images/loading.gif");
	background-position: 6px center;
	background-repeat: no-repeat;
	line-height: 23px;
	padding-left: 29px;
	padding-right: 6px;
	padding-top: 0;
}
div.pq-vscroll
{
	bottom: 17px;
	height: 150px;
	position: absolute;
	right: 0;
	z-index: 4;
}
div.pq-hscroll
{
	border: 0 #2c3e50;
	bottom: 0;
	height: 17px;
	position: absolute;
	right: 17px;
	z-index: 4;
}
div.pq-hvscroll-square
{
	border: 0 #2c3e50;
	bottom: 0;
	height: 17px;
	position: absolute;
	right: 0;
	width: 17px;
	z-index: 1;
}
.pq-tree-icon-container
{
	float: left;
	height: 16px;
	position: relative;
}
.pq-tree-icon
{
	cursor: pointer;
	height: 16px;
	position: absolute;
	right: 0;
	top: -2px;
	width: 18px;
}
div.pq-grid tr.pq-row-select
{
	border-width: 0;
}
div.pq-grid tr td.pq-grid-cell-hover
{
	border-width: 0;
}
div.pq-grid tr td.pq-cell-select
{
	border-width: 0;
}
tr.pq-group-row
{
	cursor: pointer;
}
tr.pq-group-row td span
{
	float: left;
	margin-right: 3px;
	margin-top: -2px;
}
.pq-pager
{
	overflow: hidden;
	padding: 2px 5px 13px;
	vertical-align: middle;
}
.pq-pager *
{
	vertical-align: middle;
}
.pq-grid span.pq-separator
{
	border-left: 1px solid #ccc;
	display: inline-block;
	height: 18px;
}
.pq-pager input
{
	border-width: 1px;
	height: 16px;
	margin-right: 5px;
	padding: 0 1px;
	text-align: center;
	width: 35px;
}
div.pq-pager span,div.pq-pager select
{
	border-width: 1px;
	margin-right: 5px;
}
.pq-pager .pq-page-placeholder
{
	margin-right: 0;
	vertical-align: top;
}
.pq-grid button.ui-button-icon-only
{
	margin-right: 5px;
	padding: .4em 0;
	width: 22px;
}
.pq-sb-vert-wt
{
	background: #2c3e50 url(images/vert-bg.png);
	display: block;
	width: 17px;
}
.pq-sb-horiz-wt
{
	background: #2c3e50 url(images/horiz-bg.png);
	display: block;
	height: 17px;
}
.pq-sb-vert-wt *
{
	margin: 0;
	padding: 0;
}
.pq-sb-horiz-wt *
{
	margin: 0;
	padding: 0;
}
.pq-sb-btn
{
	height: 17px;
	position: absolute;
	width: 17px;
}
.pq-sb-vert-wt div.top-btn
{
	background: url(images/sprite.png);
	left: 0;
	top: 0;
}
.pq-sb-horiz-wt div.left-btn
{
	background: url(images/sprite.png) -34px;
	left: 0;
	top: 0;
}
.pq-sb-vert-wt div.bottom-btn
{
	background: url(images/sprite.png) -17px;
	bottom: 0;
	left: 0;
}
.pq-sb-horiz-wt div.right-btn
{
	background: url(images/sprite.png) -51px;
	right: 0;
	top: 0;
}
.pq-sb-slider
{
	position: absolute;
}
.pq-sb-vert-wt .pq-sb-slider *
{
	background: url(images/sprite.png);
}
.pq-sb-slider-h
{
	position: absolute;
}
.pq-sb-horiz-wt .pq-sb-slider-h *
{
	background: url(images/sprite.png);
	display: inline-block;
}
.pq-sb-slider .vert-slider-top
{
	background-position: 17px -8px;
	height: 3px;
	overflow: hidden;
	width: 17px;
}
.pq-sb-slider-h .horiz-slider-left
{
	background-position: -68px 0;
	height: 17px;
	overflow: hidden;
	width: 3px;
}
.pq-sb-vert-wt .pq-sb-slider .vert-slider-bg
{
	background: #2c3e50 url(images/vert-slider-bg.png);
	overflow: hidden;
	width: 17px;
}
.pq-sb-horiz-wt .pq-sb-slider-h .horiz-slider-bg
{
	background: #2c3e50 url(images/horiz-slider-bg.png);
	height: 17px;
	overflow: hidden;
}
.pq-sb-slider .vert-slider-center
{
	background-position: 17px 0;
	height: 8px;
	overflow: hidden;
	width: 17px;
}
.pq-sb-slider-h .horiz-slider-center
{
	background-position: -74px 0;
	height: 17px;
	overflow: hidden;
	width: 8px;
}
.pq-sb-slider .vert-slider-bottom
{
	background-position: 17px -11px;
	height: 3px;
	overflow: hidden;
	width: 17px;
}
.pq-sb-slider-h .horiz-slider-right
{
	background-position: -71px 0;
	height: 17px;
	overflow: hidden;
	width: 3px;
}
.pq-sb-vert-t
{
	background: #efefef url(images/vert-bg.png);
	display: block;
	width: 17px;
}
.pq-sb-horiz-t
{
	background: #efefef url(images/horiz-bg.png);
	display: block;
	height: 17px;
}
.pq-sb-vert-t *
{
	margin: 0;
	padding: 0;
}
.pq-sb-horiz-t *
{
	margin: 0;
	padding: 0;
}
.pq-sb-vert-t .pq-sb-btn
{
	height: 15px;
	position: absolute;
	width: 15px;
}
.pq-sb-horiz-t .pq-sb-btn
{
	height: 15px;
	width: 15px;
}
.pq-sb-vert-t div.top-btn
{
	left: 0;
	top: 0;
}
.pq-sb-horiz-t div.left-btn
{
	left: 0;
	top: 0;
}
.pq-sb-horiz-t div.left-btn .ui-icon
{
	margin-top: -1px;
}
.pq-sb-vert-t div.bottom-btn
{
	bottom: 0;
	left: 0;
}
.pq-sb-vert-t div.bottom-btn .ui-icon
{
	margin-left: -1px;
}
.pq-sb-horiz-t div.right-btn
{
	right: 0;
	top: 0;
}
.pq-sb-horiz-t div.right-btn .ui-icon
{
	margin-left: -1px;
	margin-top: -1px;
}
.pq-sb-vert-t .pq-sb-slider
{
	left: 1px;
	position: absolute;
	width: 13px;
}
.pq-sb-horiz-t .pq-sb-slider-h
{
	height: 13px;
	position: absolute;
	top: 1px;
}
.pq-arrow-up
{
	position: absolute;
	z-index: 200;
}
.pq-arrow-down
{
	position: absolute;
	z-index: 200;
}
div.pq-grid div.pq-g-ficon
{
	border-width: 0;
	cursor: pointer;
	position: absolute;
	top: 0;
	vertical-align: middle;
	width: 16px;
}
.pq-g-ficon-shadow
{
	box-shadow: 0 3px 8px rgba(0,0,0,0.5);
	moz-box-shadow: 0 3px 8px rgba(0,0,0,0.5);
	webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.5);
}
div.pq-g-ficon .ui-icon
{
	height: 16px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
}
div.pq-filter-dialog
{
	box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	moz-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
	padding: 1px 5px 4px 3px;
	webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}
div.pq-filter-dialog input
{
	border-width: 1px;
	line-height: 16px;
	padding: 0 4px;
}
div.pq-filter-dialog button.ui-button span
{
	padding: 0 2px;
}
div.pq-filter-dialog *
{
	margin: 2px 4px;
}