{% extends "base.html" %}
{% block content %}
<h1>Create user</h1>
<table>
    <tr>
        <td>
            <form action="" method="post" name="login">
                {{form.hidden_tag()}}

                    Логин:<br>
                    {{form.login(size=80)}}<br>

                Пароль:<br>
                    {{form.password(size=80)}}<br>

                Название Учреждения:<br>
                    {{form.organization(size=80)}}<br>

                Роль:<br>
                    {{form.role(size=80)}}<br>

                 <input type="submit" class="btn btn-primary btn-block btn-large" value="Добавить"/>

            </form>
        </td>
        <td>
            <form>

            </form>
        </td>
</table>
{% endblock %}