<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Система голосового оповещения</title>
        {% endif %}
        <link rel="shortcut icon" href="/static/k.ico"/>
        <link rel="stylesheet" href="/static/web.css">
        <!--<link rel="stylesheet" href="/static/js/jquery-ui/jquery-ui.theme.css" />-->
        <link rel="stylesheet" href="/static/js/jquery-ui/jquery-ui.custom.css" />
        <link rel="stylesheet" href="/static/js/jquery-ui/jquery-ui.structure.css" />
        <link rel="stylesheet" href="/static/js/grid-2.2.0/pqgrid.min.css" />

    </head>
    <body>
    <p class="bottom">Система оповещения личного состава</p>
        <!--<div align="center">-->
            <nav>

                <a href="{{ url_for('index') }}">Главная</a>

                <a href="{{ url_for('numbers') }}">Номера</a>

                <a href="/create/list" >Создать список</a>

                <a href="/create/alarm" >Создать тревогу</a>

                {% if g.user.role == 1 %}
                    <a href="{{ url_for('admin') }}">Админка</a>
                {% else %}
                    <a href="/help">Помощь</a>
                {% endif %}

                {% if g.user.is_authenticated() %}
                    <a href="{{ url_for('logout') }}">Выход</a>
                {% endif %}
                <div class="animation start-home"></div>
            </nav>
        <!--</div>-->
        <!--<hr>-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul style="color: #3A7734">
            {% for message in messages %}
                <li>{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <h1 align="center">
            {% if user.organization %}
                {{user.organization}}
            {% else %}
            Тестовый вход
            {% endif %}
        </h1>
        {% block content %} {% endblock %}
    </body>
</html>