{% extends "base.html" %}
{% block content %}

        <div class="login">
            <form method="post" name='create' action="" >
                {{form.hidden_tag()}}
                    {{ form.name() }}
                    <br>
                    {% for error in form.errors.name %}

                        <span style="color: red;">[{{error}}]</span>
                    {% endfor %}

                    <input type="submit" value="Создать" class="btn btn-primary btn-block btn-large" style="width: 87%;"/>

            </form>
        </div>
{% endblock %}