{% extends "base.html" %}
{% block content %}



<script type="text/javascript" src="/static/js/jquery-ui/external/jquery/jquery.js" ></script>
<script type="text/javascript" src="/static/js/jquery-ui/jquery-ui.js" ></script>
<script type="text/javascript" src="/static/js/send_alert.js"></script>


<div class="index">

        <table   class="index-table" cellspacing="50">
            <tbody >
                <tr>
                    <td align="left" valign="top">


                        <p class="paragraph">Оповещения:</p>
                            <form id="alert_form" >
                                <div class="checkboxes-and-radios">
                                    {% for alarm in alarms %}

                                        <input  type="radio" id="alarm-{{alarm.id}}" name="alarm_type" value="{{ alarm.id }}">
                                        <label for="alarm-{{alarm.id}}">
                                            <!--<a class="list" id="{{alarm.id}}" name="{{alarm.name}}" onclick="modify_alarm(this);" href="javascript:void(0);">{{ alarm.name }}</a>-->
                                            {% if alarm.id > 6 %}
                                                <a class="list" id="{{alarm.id}}" name="{{alarm.name}}" onclick="editAlarm(this);" href="javascript:void(0);">{{ alarm.name }}</a>
                                            {% else %}
                                                {{ alarm.name }}
                                            {% endif %}
                                        </label>
                                    {% endfor %}
                                </div>

                            </form>


                    </td>

                    <td  valign="top">
                        <!--<p >Списки</p> <br>-->
                        <p class="paragraph"> Списки оповещений:</p>

                        <form id="list_form">
                             <div class="checkboxes-and-radios">
                                {% for list in lists %}

                                    <input type="checkbox" id="list-{{list.id}}" name="list" value="{{ list.id }}">
                                    <label
                                            for="list-{{list.id}}">
                                        <a class="list" href="/list/modify/{{list.id}}">{{ list.name }}</a>
                                            <!--<a href="/list/modify/{{list.id}}">&#128736;</a>
                                        /
                                            <a href="/list/delete/{{list.id}}">	&#128465;</a>-->

                                    </label>

                                    <br>
                                {% endfor %}
                             </div>
                        </form>

                    </td>
                </tr>

                <tr>
                    <td valign="top" colspan="2" align="center">

                        <!--<input id="start_alert" type="button" onclick="send_alert();" value="Запуск оповещения" width="600">-->
                        <!--<a class="button30" href="javascript:void(0)" onclick="send_alert();"><div align="center"><br>Пуск!</div></a>-->
                        <input id="start_alarm" type="button" class="btn btn-primary btn-block btn-large" style="width: 100%" value="Запуск" onclick="send_alert();"/>
                    </td>


                </tr>
            </tbody>
        </table>


</div>

<div id="alarm_div" title="Изменить тревогу" style="display: none;">
    <form name="modify_alarm" method="post" action="/alarm/modify">

        <input type="text" id="alarm_name_change">
        <!--<label for="alarm_name_change">Текст тревоги</label>-->
        <input id="alarm_id" value="" style="visibility: hidden">
        <input class="btn btn-primary btn-block btn-large" type="button" value="Изменить" onclick="modAlarmSend('update');">
        <input class="btn btn-primary btn-block btn-large" type="button" value="Удалить" onclick="modAlarmSend('delete');">
        <input class="btn btn-primary btn-block btn-large" type="button" id="btnDisp" value="Отмена">
    </form>
</div>

<div id="create_object" title="Создать" style="display: none;">
    <form name="create" method="post" action="">

        <input type="text" id="object_name">

        <input class="btn btn-primary btn-block btn-large" type="button" value="Создать" onclick="">
        <input class="btn btn-primary btn-block btn-large" type="button" id="btnDisp1" value="Отмена">

    </form>
</div>



{% endblock %}
