{% extends "base.html" %}
{% block content %}
<h1 align="center">
    {% if user.organization %}
        {{user.organization}}
    {% else %}
    Тестовый вход
    {% endif %}
</h1>

<hr>
<table  style="width: 100%; height: 100%; table-layout: fixed">
    <tbody style="vertical-align: top;">
        <tr>
            <td valign="top">

                <p style="text-align: center">Типы тревог</p>
                <form>

                        {% for alarm in alarms %}
                        <input type="radio" name="alarm_type" value="{{ alarm.id }}">{{ alarm.name}}</input><br>
                        {% endfor %}



                </form>

            </td>

            <td valign="top">
                <p style="text-align: center">Списки</p> <br>
                <a href="/create/list" >Создать список</a>
                <form>
                    {% for list in lists %}
                        <input type="checkbox" name="list" value="{{ list.id }}">{{ list.name}}</input>  <a href="/modify_list/{{list.id}}">Редактировать список</a> <br>
                    {% endfor %}
                </form>

            </td>
        </tr>

        <tr>
            <td valign="top">


            </td>

            <td valign="top">

            </td>
        </tr>
    </tbody>
</table>


{% endblock %}
