<!DOCTYPE html>
<html>
    <head>
            {% if title %}
            <title>{{ title }}</title>
            {% else %}
            <title>Система голосового оповещения</title>
            {% endif %}
              <link rel="stylesheet" type="text/css" href="/static/web.css">

              <link rel="stylesheet" href="/static/web.css">
    </head>
    <body>
        <div class="login" >
            <h1>Вход</h1>
            <form action="" class="login" method="post" name="login">
                {{form.hidden_tag()}}

                    <!--Логин:<br>-->
                    {{form.login(size=80)}}<br>
                    {% for error in form.errors.login %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}



                    <!--Пароль:<br>-->
                    {{form.password(size=80)}}<br>
                    {% for error in form.errors.password %}
                    <span style="color: red;">[{{error}}]</span>
                    {% endfor %}
                
                <input type="submit" class="btn btn-primary btn-block btn-large" style="width: 100%" value="Вход">
            </form>

        </div>
    </body>
</html>